.treeMenu .ant-menu-item{
    color: #fff !important;
}
.ctree{
    padding: 10px 0 0 30px;
}
.authority-modal {
    width: 700px !important;
    text-align: center;
}
.authority-modal .ant-transfer-list-header,.authority-modal .ant-transfer-list-body{
    text-align: left;
}
.tree-condition{
  display: flex;
  align-items: center;
}
.tree-condition .ant-select{
  padding-right: 10px !important;
}
